# Run the release flow
# Keep in sync with try-release.yml

name: Run release
on:
  push:
    tags:
      - v*

permissions:
  contents: read
  id-token: write # Needed to request JWT for OIDC

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: ./build-release.sh
      # Upload to S3:
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::338276578713:role/crl-monitor-github-action-role
          aws-region: us-west-2
      - run: aws s3 cp build/checker.zip s3://crl-monitor-artifacts/${{ github.ref_name }}/
      - run: aws s3 cp build/churner.zip s3://crl-monitor-artifacts/${{ github.ref_name }}/
