name: Go Tests

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24.2

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
